DB_HOST="localhost"
DB_USERNAME="your_db_username"
DB_PASSWORD="your_strong_password_here"
DB_DATABASE="your_db_name"

DB_PORT=5432

PORT=3333

JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n<your_private_key_content>\n-----END RSA PRIVATE KEY-----\n"

JWT_PUBLIC_KEY="-----BEGIN RSA PUBLIC KEY-----\n<your_public_key_content>\n-----END RSA PUBLIC KEY-----\n"

CORS_ORIGIN="http://localhost:3333"
